/*
Colors used:
Dark blue: #2C2E43;
Dark green: #6e6539;
Light blue: #7FB7E3;
Light green: #7D7A42;
Beige: #e3c9ab;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #2C2E43;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #7FB7E3;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #2C2E43;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #7d7a42;
}
a:active { /* selected link */
  color: #994c30;
}
a:hover,
a:focus {
  color: #2C2E43;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2C2E43;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #7FB7E3; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:visited {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #ffffff
}

.button.contact {
  background-color: transparent;
  color: #2C2E43;
  text-transform: uppercase;
  border: 2px solid #2C2E43;
}

.button.contact:hover {
  background-color: #2C2E43;
  color: #ffffff;
}

.button.contact:active {
  background-color: #2C2E43;
  color: #ffffff;
}

.button.cv {
  background-color: transparent;
  color: #7D7A42;
  border: 2px solid #7D7A42;
}

.button.cv:hover {
  background-color: #7D7A42;
  color: #ffffff;
}

.button.cv:active {
  background-color: #7D7A42;
  color: #ffffff;
}

/* Layout styling */

main {
  padding-top: 56px;
}

header {
  background-color: #e3c9ab;
  padding: 10px 0 4px;
  box-shadow: 1px 6px 15px 0px rgba(89, 89, 89, 0.6);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2C2E43;
}

nav > ul > li > a:visited {
  color: #2C2E43;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #2C2E43;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#projects .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

.Process {
  border-bottom: 1px solid #4a4a4a;
}

#AboutSection {
  border-bottom: 1px solid #4a4a4a;
  margin: auto;
  max-width: 1200px;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero h4 {
  text-align: center;
}

#hero span {
  display: block;
}

#hero {
  background-color: #e3c9ab;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
  max-width: 150px;
}

.social {
  list-style: none;
}

.social li {
  list-style: none;
  max-height: 50px;
  max-width: 50px;
  display: inline-block;
}

#About {
  padding-top: 20px; padding-left: 15px; padding-right: 15px;
  text-align: center;
}

#contact {
  padding: 0 15px;
}

#dailymeals {
  padding-top: 20px; padding-left: 15px; padding-right: 15px;
  text-align: center;
}
#profilepic {
  max-width: 300px;
  margin: auto;
}

#my-story <p> {
  text-align: center;
}

#animation svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .logo {
    max-width: 250px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
  margin: 1em 0;
}
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  main {
    padding-top: 99px;
  }
  #hero span {
    display: block;
  }
  body {
    font-size: 18px;
  }
  #profilepic {
    max-width: 400px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #projects h3 {
    margin-top: 0;
  }
  #skills-tools h3 {
    margin-top: 0;
  }
  #skills-tools h2 {
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  body {
    font-size: 20px;
  }
  #profilepic {
    float: right;
  }
  #About {
    text-align: left;
    padding-left: 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
}


/* animation */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
